.card-element-wrapper {
  width: 100%;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}

.StripeElement {
  width: 150%;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.card-element-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-element-row .card-element-wrapper {
  width: calc(50% - 5px);
}

.button-wrapper {
  text-align: center;
}

.total-amount {
  text-align: center;
  margin-bottom: 20px;
}
